<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      To Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color=""secondary>
      <ion-title size="large">To Do App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let todo of todos" [routerLink]="['/detail', todo.id]">
      <ion-label>
        <h2>{{ todo.name }}</h2>
        <p>{{ todo.description }}</p>
      </ion-label>
     </ion-item>
  </ion-list>
 

 <ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button [routerLink]="['/add']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

 </ion-fab>
</ion-content>
